<ol class = "links">
  <% @articles.each do |article| %>
    <li>
      <p class=".arrow"> <img class = "arrow" src = "grayarrow.gif">
        <%= article["title"] %>
      </p>
      <p>
        <a href= <%= "#{article["url"]}" %> > <%= article["url"] %> </a>
      </p>
      <br />
      <p>
        <%= article["description"] %>
      </p>
    </li>
  <% end %>
</ol>
