<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slacker News</title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <header>
    <ul class="navigation">
      <li><img id = "logo-image" src = "/y18.gif"></li>
      <li><a id = "brand" href = "/">Slacker News</a></li>
      <li><a class = "nav-link" href = "/articles/new">Post New Article</a></li>
      <% if session["user_id"] != nil%>
        <a id = 'logout' href = "/">logout</a>
      <%else%>
        <a id = 'login' href = "/login">login</a>
      <%end>
    </ul>
    </header>

    <!--This is our link list -->
    <div class = "main-container">
      <%= yield %>
    </div>

    <div id="footer" class="light_background">
        <ul class="nav_list center">
          <li>Lists</li>
          <li> | </li>
          <li>RSS</li>
          <li> | </li>
          <li>Bookmarklet</li>
          <li> | </li>
          <li>Guidelines</li>
          <li> | </li>
          <li>FAQ</li>
          <li> | </li>
          <li>DMCA</li>
          <li> | </li>
          <li>News</li>
          <li> | </li>
          <li>Feature Requests</li>
          <li> | </li>
          <li>Bugs | </li>
          <li>Y Combinator</li>
          <li> | </li>
          <li>Apply</li>
          <li> | </li>
          <li>Library</li>
        </ul>
        <div id="search" class="center">
          <form>
            Search:
            <input type="text" name="search">
          </form>
        </div>
      </div>
  </body>
</html>
