<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slacker News</title>
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <header>
    <ul class="navigation">
      <li><img id = "logo-image" src = "/y18.gif"></li>
      <li><a id = "brand" href = "/">Slacker News</a></li>
      <li><a class = "nav-link" href = "/articles/new">Post New Article</a></li>
      <a id = 'login' href = "/login">login</a>
    </ul>
    </header>

    <!--This is our link list -->
    <div class = "main-container">
      <%= yield %>
    </div>
  </body>
</html>
