<% if !@success %>
  <p class="error"> ERROR wrong password or username</p>
<% end %>
<form class="light_background" action="/login" method="post">
      <label for="user_name">Username: </label>
      <input type="text" id="user_name" name="user_name" placeholder="username" />
      <br />
      <label for="password">Password: </label>
      <input type="password" id="password" name="password" />
      <input type="submit" value="submit" />
</form>
