<form class="light_background" action="/new_article" method="post">
      <label for="new_title"></label>
      <input type="text" id="new_title" name="title" placeholder="Title:" />
      <br />
      <label for="new_url"></label>
      <input type="text" id="new_url" name="url" placeholder="URL address:" />
      <br />
      <label for="new_description"></label>
      <input type="text" id="new_description" name="description" placeholder="Breif description:" min="20"/>
      <br />
      <input type="submit" value="Add some slack" />
</form>