<% if @user_id==nil %>
  <p class="error"> please login to post an article </p>
<% end %>

<form class="light_background" action="/article/new" method="post">
      <label for="new_title">Title: </label>
      <input type="text" id="new_title" name="title" placeholder="Title:" />
      <br />
      <label for="new_url">URL: </label>
      <input type="text" id="new_url" name="url" placeholder="URL address:" />
      <br />
      <!-- description of article -->
      <label for="description">Article Description: </label>
      <br/>
      <textarea rows="4" cols="50" form="article_form" name="description" id="description" ></textarea>
      <br />
      <input type="submit" value="submit" />
</form>
