img {
  display: block;
}

body {
  width: 85%;
  font-family: Verdana;
  font-size: .8em;
  margin-left: auto;
  margin-right: auto;
}
header {
  background-color: #ff6600;
  padding: 2px;
  /*height: 20px;*/
}

span {
  color: black;
  font-size: 1.5em;
}

.form span {
  color: red;
  font-size: .8em;
}

ol li p {
  color: gray;
  font-size: .75em;
}

ol li p:nth-child(2) {
  font-size: .75em;
  margin-top: -10px;
  margin-left: 15px;
}
ol li p:nth-child(3) {
  font-size: .6em;
  margin-top: -10px;
  color: black;
  margin-left: 23px;
}

ol li a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

.arrow{
  display:inline;
}

#brand {
  color: black;
  font-weight: bold;
  text-decoration: none;

}

#login {
  float: right;
  text-decoration: none;
  color: black;
  padding-top: 2px;
  padding-right: 2px;
  margin-right: 10px;
}
#sign_up {
  float: right;
  text-decoration: none;
  color: black;
  padding-top: 2px;
  padding-right: 2px;
}

#logo-image {
  border : 1px white solid;
}



.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 90%;
}

.navigation li {
  display: inline-block;
  vertical-align: middle;
}

.nav-link {
  border-left: 1px solid black;
  padding-right: 8px;
  padding-left: 3px;
  text-decoration: none;
  color: black;
}

.nav-link-last {
  padding-right: 8px;
  padding-left: 3px;
  text-decoration: none;
  color: black;
}

/* This if or my body */

.main-container {
  margin-top: 0px;
  background-color: #f6f6ef;
  padding: 4px;
}

.links {
  color: gray;
}

.light_background {
  background-color: #F6F6EF;
}

#search {
  display:inline;
  margin: 15px;
  text-align: center;
  color: #828282;
}

#footer {
  padding: 20px 0px 20px 0px;
  margin-bottom: 0px;
  font-size: .85em;
  text-align: center;
}

.nav_list li {
  display: inline-block;
  padding-left: 0;
  list-style: none;
}

/* error message box*/
.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.error {
    background:#ffecec url('images/error.png') no-repeat 10px 50%;
    border:1px solid #f5aca6;
}
